*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
background-color: black;
color: white;
text-align: center;
}
header > nav{
    display: flex;
align-items: center;
}
main{

}
footer{
    background-color: black;
    color: white;
    text-align: center;
padding: 10px;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}