*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
background-color: black;
color: white;
text-align: center;
}
header > nav{
    display: flex;
align-items: center;
}
main{
margin: 10px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
padding: 10px;
}
main >a{
    color: rgb(0, 43, 135);
    padding: 10px;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}
iframe{
    
    width: 1050px;
    height: 400px;
}