* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
 
}

header {
    background-color: #272E36;
}

/* NAV PRINCIPAL */
nav {
    display: flex;
    align-items: center;          /* centraliza verticalmente */
    justify-content: space-between; /* logo de um lado, menu do outro */
    padding: 10px 20px;
}

/* MENU */
.menu a {
    text-decoration: none;
    color: white;
    margin-left: 15px;
    font-weight: bold;
    /* espaço entre os links */
}

/* REMOVE O FUNDO PRETO DOS LINKS */
nav > a {
    background-color: transparent;
}
main{
    background-color: white;
    margin-left: 30px;
    margin-right: 30px;  
}
.parte{
    text-align: center;
}

main article{
    background-color: rgb(194, 194, 194);
    padding-left: 30px;
    padding-right: 30px;
text-align:left; 
width: 350px;
padding-top: 5px;
padding-bottom: 5px;
margin-left: 31%;
}
main article a{
    text-decoration: none;
    color: rgb(164, 8, 8);
    font-weight: bold;
    
}
/* FOOTER */
footer {
    background-color: black;
    padding: 5px;
    text-align: center;
}

footer p {
    color: white;
}

footer p a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
