body{
    background-image: url('Imagens/wallpaper001.jpg');
}
.quadrado{
    border: 1px solid black;
    display: inline-block;
    width: 200px;
    height: 200px;
}
div#q1{
    background-color: aqua;
}
div#q2{
    background-image: linear-gradient(to bottom, blue, red);
}
div#q3{
    background-image: url('Imagens/pattern001.png');
}