/* configuração global */  * {
}


body{
/* top, bottom, right, left */
background-image: linear-gradient(red, blue);
background-attachment: fixed;
}
main{
 background-color: aliceblue;  
 width: 330px;
margin: auto;
text-align: center;
box-shadow: 30px 30px 30px black ;
border-radius: 30px;
padding: 10px;

}
h1 {
    color: white;
    }
    h2{
color: aqua;
    }
    p {
color: brown;
    }